:root {
  --color-text: #282828;
  --color-text-light: rgba(244, 242, 242, 1);
  --color-text-white-soft: #f8f8f8;
  --color-text-white-faded: #c1c1c1;

  --color-gray: #9c9c9c;

  --big-tile-size: 256px;
  --small-tile-size: 240px;

  --tile-transition-time: 0.4s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-text-white-soft);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
