@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

@media (min-width: 480px) {
  #app {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  #app {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  #app {
    max-width: 1024px;
  }
}